html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
}

#info {
	position: absolute;
	top: 100px;
	width: 100%;
	text-align: center;
	z-index: 1000;
	display:block;
  font-size: 100px;
}